---
import MainLayout from "../../../layouts/MainLayout.astro";
import GameBoard from "../../../pages/rooms/memory/components/GameBoard.astro";
import Controls from "../../../pages/rooms/memory/components/Controls.astro";
import StatsPanel from "../../../pages/rooms/memory/components/StatsPanel.astro";
import EndMessage from "../../../pages/rooms/memory/components/EndMessage.astro";
import Button from "../../../components/Button.astro";
import "./style/styles.css";
---

<MainLayout title="Memorama Dev">
  <!-- Ac치 va todo tu contenido espec칤fico -->
  <!-- recorda quela ruta va ser http://localhost:4321/rooms/memory -->
  <div class="memorama">
    <div class="memorama__glass-card">
      <header class="memorama__header">
        <h1 class="memorama__title">游 Memorama</h1>
        <p class="memorama__paragraph">Haz coincidir las im치genes</p>
      </header>
      <div class="memorama__layout">
        <GameBoard />
        <aside class="memorama__side-panel">
          <Controls />

          <div class="memorama__nav-buttons">
            <Button
              href="/rooms/padlock"
              title="Volver a habitaci칩n anterior"
              direction="left"
              id="btn-prev"
            />
            <Button
              href="/rooms/hangman"
              title="Ir a habitaci칩n siguiente"
              id="btn-next"
            />
          </div>
          
          <StatsPanel />
        </aside>
      </div>
    </div>
  </div>

  <EndMessage />

  <script type="module" src="/src/pages/rooms/memory/memory.js" is:inline></script>

</MainLayout>

