---
import MainLayout from "../../../layouts/MainLayout.astro";
---

<MainLayout title="Lock Dev">
  <h1>candado</h1>
  <!-- Acá va todo tu contenido específico -->
  <!-- recorda quela ruta va ser http://localhost:4321/rooms/lock -->
</MainLayout>
