<section class="stats" id="stats">
  <div><strong>Aciertos:</strong> <span id="matches">0</span></div>
  <div><strong>Tiempo:</strong> <span id="time">0</span> s</div>
  <div><strong>Movimientos:</strong> <span id="moves">0</span></div>
</section>
