---
import MainLayout from "../../../layouts/MainLayout.astro";
---

<MainLayout title="Ahorcado Dev">
  <h1>ahorcado</h1>
  <!-- Acá va todo tu contenido específico -->
  <!-- recorda quela ruta va ser http://localhost:4321/rooms/hangman -->
</MainLayout>
