---
import MainLayout from "../../../layouts/MainLayout.astro";
---

<MainLayout title="Quiz Dev">
  <h1>quiz</h1>
  <!-- Acá va todo tu contenido específico -->
  <!-- recorda quela ruta va ser http://localhost:4321/rooms/quiz -->
</MainLayout>
