---
import MainLayout from "../../../layouts/MainLayout.astro";
---

<MainLayout title="Rosco Dev">
  <!-- Acá va todo tu contenido específico -->
  <h1>rosco</h1>
  <!-- recorda quela ruta va ser http://localhost:4321/rooms/rosco -->
</MainLayout>
