<div class="memorama__controls">
  <button class="memorama__button" id="start-button">Iniciar</button>
  <button class="memorama__button" id="restart-button">Reiniciar</button>
  <button class="memorama__button" id="pause-button">Pausar</button>
</div>