<section class="memorama__stats" id="stats">
  <div class="memorama__stat"><strong>Aciertos:</strong> <span id="matches">0</span></div>
  <div class="memorama__stat"><strong>Tiempo:</strong> <span id="time">0</span> s</div>
  <div class="memorama__stat"><strong>Movimientos:</strong> <span id="moves">0</span></div>
</section>
