---
const {
  title = "Dev Escape Room",
  description = "¡Desafíos de programación y diversión asegurada!",
} = Astro.props;
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>

    <meta name="description" content={description} />
    <meta name="author" content="Dev Escape Room Team" />
    <link rel="icon" type="image/svg+xml" href="/public/assets/logo.svg" />


    <!-- SweetAlert2 (https://sweetalert2.github.io) -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11" defer></script>
  </head>

  <body>
    <slot />
  </body>
</html>

<style>
  @font-face {
    font-family: "Sugar Fruit";
    src: url("/public/font/sugarFruit.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
  }

  :root {
    --base: oklch(0.315 0.017 270.18); /* #1e1e2e */
    --over: oklch(0.289 0.015 278.45); /* #181825 */
    --mauve: oklch(0.755 0.178 312.11); /* #ca9ee6 */
    --red: oklch(0.719 0.177 29.59); /* #e78284 */
    --green: oklch(0.774 0.125 149.35); /* #a6d189 */
    --sky: oklch(0.803 0.105 208.42); /* #99d1db */
    --blue: oklch(0.74 0.144 252.63); /* #8caaee */
    --letter: oklch(0.929 0.024 263.45); /* #cdd6f4 */
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: "Sugar Fruit", sans-serif;
  }
</style>
